.my-alert {
    background-color: burlywood;
    padding : 15px;
    border-radius : 5px;
    max-width : 500px;
    width : 100%;
    margin : auto;
    color: crimson;
    font-weight: 700;
}

.my-alert p {
    margin: 0;
  }